.App-logo {
  padding-right: 10px;
  height: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-shake 6s linear infinite alternate,
      App-logo-fade 4s ease-in-out infinite alternate;
  }
}

@keyframes App-logo-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.space {
  position: relative;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

.space-container {
  position: relative;
  z-index: 1;
}

.space::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: 0;
}

.chaos {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  box-shadow: 200px 400px #fff, 500px 100px #fff, 700px 300px #fff,
    400px 800px #fff, 900px 700px #fff;
  animation: moveChaos 10s linear infinite;
}

.planet {
  position: absolute;
  width: 1200px; /* Ajusta el tamaño del planeta según tus necesidades */
  height: 1200px;
  background-color: #9b7653; /* Color del planeta (similar a Marte) */
  border-radius: 50%;
  left: 20%; /* Ajusta la posición del planeta según tus necesidades */
  top: 30%;
  transform: translate(-50%, -50%);
  animation: rotatePlanet 20s linear infinite;
  background-image: radial-gradient(ellipse at center, #d3a077 0%, #9b7653 100%);
}


@keyframes moveChaos {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 50px);
  }
  50% {
    transform: translate(-50px, -50px);
  }
  75% {
    transform: translate(50px, -50px);
  }
  100% {
    transform: translate(-50px, 50px);
  }
}

@keyframes rotatePlanet {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}


.headerbg2 {
  background-image: url("./vector.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  animation: desplazamiento 10s linear infinite; /* 10s es la duración de la animación, ajusta según tus preferencias */
}

@keyframes desplazamiento {
  0% {
    background-position: 0 0;
  }
  90% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0; /* Vuelve al inicio de la animación */
  }
}

.colorbg3 {
  background-color: #e4f0ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.colorbg4 {
  background-color: #ddf9e4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.headerbg1 {
  background-color: #ffc14577;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  margin-top: 55px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
}

.image-marco {
  border: 5px solid #e4f0ff; /* Establece el ancho y el color del borde */
  border-radius: 50%; /* Crea un borde circular */
  padding: 5px; /* Añade un espacio alrededor de la imagen si es necesario */
}

.btn_color {
  background-color: #e4f0ff;
  color: #000; /* Text color */
  font-size: 25px;
  padding: 10px 20px; /* Padding */
  border: none; /* Remove the default border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 3px 3px 5px #888888; /* Box shadow with horizontal and vertical offsets and blur radius */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.btn_color:hover {
  background-color: #e4f0ff4e;
}

/* Hover effect: adjust the shadow on hover */
.shadow-button:hover {
  box-shadow: 5px 5px 8px #888888;
}

.colorbg {
  background-color: #ffeada;
}

.boxtop {
  padding-top: 50px;
}

.boxbottom {
  padding-bottom: 50px;
}

/* Estilos para el contenedor de notas */
.note-align {
  display: flex;
  justify-content: space-between;
  justify-content: center; /* Centrar horizontalmente */
}

.colorbg2 {
  background-color: #ffc14577;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.social-icon {
  margin: 0 auto;
  display: inline-block;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
}

.social-icon:hover {
  opacity: 1;
}

.font-size-name {
  padding-top: 100px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.job {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 120px;
  white-space: nowrap;
  overflow: hidden;
}

.text-quote {
  font-size: 20px;
}

.card-align {
  display: flex;
  justify-content: space-between;
}

.mytitle {
  text-align: start;
}

/* Estilos para las notas adhesivas */
.note {
  background-color: #e4f0ff; /* Color de fondo similar al color de un post-it */
  border: 1px solid #ddf9e4; /* Borde similar al color de un post-it */
  padding: 20px;
  margin: 20px;
  width: 100%; /* Ancho del 100% para ocupar el espacio disponible */
  max-width: 300px; /* Ancho máximo para evitar que se vuelvan demasiado grandes */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para las notas adhesivas */
.note2 {
  background-color: #ddf9e4; /* Color de fondo similar al color de un post-it */
  border: 1px solid #e4f0ff; /* Borde similar al color de un post-it */
  padding: 20px;
  margin: 20px;
  width: 100%; /* Ancho del 100% para ocupar el espacio disponible */
  max-width: 300px; /* Ancho máximo para evitar que se vuelvan demasiado grandes */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
}

.hidediv {
  display: block;
}

.hidediv2 {
  display: none;
}

.fhide {
  display: block;
}

.fhide2 {
  display: none;
}

/* Estilo para dispositivos extra pequeños (teléfonos móviles) */
@media (max-width: 576px) {
  /* Estilos para las notas adhesivas */
  .note {
    background-color: #e4f0ff; /* Color de fondo similar al color de un post-it */
    border: 1px solid #ddf9e4; /* Borde similar al color de un post-it */
    padding: 10px;
    margin: 10px;
    width: 100%; /* Ancho del 100% para ocupar el espacio disponible */
    max-width: 300px; /* Ancho máximo para evitar que se vuelvan demasiado grandes */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
  }

  .fhide {
    display: none;
  }

  .fhide2 {
    display: block;
  }

  .note2 {
    background-color: #ddf9e4; /* Color de fondo similar al color de un post-it */
    border: 1px solid #e4f0ff; /* Borde similar al color de un post-it */
    padding: 10px;
    margin: 10px;
    width: 100%; /* Ancho del 100% para ocupar el espacio disponible */
    max-width: 300px; /* Ancho máximo para evitar que se vuelvan demasiado grandes */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
  }

  .hidediv {
    display: none;
  }

  .hidediv2 {
    display: block;
  }

  .note-align {
    display: block;
  }

  .note {
    max-width: 100%; /* Ancho máximo del 100% para pantallas más pequeñas */
  }

  .note2 {
    max-width: 100%;
  }

  .font-size-name {
    font-size: 80px; /* Tamaño de fuente para pantallas más pequeñas */
    padding-top: 220px;
  }

  .job {
    font-size: 30px; /* Tamaño de fuente para pantallas más pequeñas */
    padding-bottom: 200px;
  }

  .text-quote {
    font-size: 15px;
  }

  .card-align {
    display: block;
  }

  .image {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
  }

  .image-marco {
    border: 5px solid #e4f0ff;
    border-radius: 50%;
    padding: 5px;
  }

  .mytitle {
    text-align: center;
  }
}

/* Estilo para dispositivos pequeños (tabletas en modo retrato) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Estilos para las notas adhesivas */
  .note {
    background-color: #e4f0ff; /* Color de fondo similar al color de un post-it */
    border: 1px solid #ddf9e4; /* Borde similar al color de un post-it */
    padding: 10px;
    margin: 10px;
    width: 100%; /* Ancho del 100% para ocupar el espacio disponible */
    max-width: 300px; /* Ancho máximo para evitar que se vuelvan demasiado grandes */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
  }

  .fhide {
    display: none;
  }

  .fhide2 {
    display: block;
  }

  .note2 {
    background-color: #ddf9e4; /* Color de fondo similar al color de un post-it */
    border: 1px solid #e4f0ff; /* Borde similar al color de un post-it */
    padding: 10px;
    margin: 10px;
    width: 100%; /* Ancho del 100% para ocupar el espacio disponible */
    max-width: 300px; /* Ancho máximo para evitar que se vuelvan demasiado grandes */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 10px; /* Bordes redondeados */
  }

  .hidediv {
    display: none;
  }

  .hidediv2 {
    display: block;
  }

  .note-align {
    display: block;
  }

  .note {
    max-width: 100%; /* Ancho máximo del 100% para pantallas más pequeñas */
  }

  .note2 {
    max-width: 100%;
  }

  .font-size-name {
    font-size: 100px; /* Tamaño de fuente para pantallas pequeñas */
  }

  .job {
    font-size: 50px; /* Tamaño de fuente para pantallas pequeñas */
  }

  .text-quote {
    font-size: 20px;
  }

  .card-align {
    display: block;
  }

  .image {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
  }

  .image-marco {
    border: 5px solid #e4f0ff;
    border-radius: 50%;
    padding: 5px;
  }

  .mytitle {
    text-align: center;
  }
}

/* Estilo para dispositivos grandes (pantallas de computadoras de escritorio) */
@media (min-width: 820px) {
  .font-size-name {
    padding-top: 500px;
  }

  .job {
    padding-bottom: 500px;
  }
  .card-align {
    display: block;
  }
  .image {
    width: 70%;
    height: auto; /* Ajusta la altura automáticamente */
  }
}

/* Estilo para dispositivos grandes (pantallas de computadoras de escritorio) */
@media (min-width: 993px) {
  .card-align {
    display: flex;
    justify-content: space-between;
  }
  .image {
    width: 70%;
    height: auto; /* Ajusta la altura automáticamente */
  }
}

/* Estilo para dispositivos extra grandes (pantallas grandes) */
@media (min-width: 1201px) {
  .font-size-name {
    padding-top: 170px;
    font-size: 150px;
  }

  .job {
    font-size: 50px;
    padding-bottom: 120px;
  }
  .card-align {
    display: flex;
    justify-content: space-between;
  }
  .image {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
  }
}

.ArrowDown {
  font-size: 60px;
  text-align: center;
  padding-bottom: 100px;
  animation: float 1s ease-in-out infinite; /* Ajusta la duración de la animación según tus preferencias */
}

.floatxt {
  color: #fff;
  animation: float 1s ease-in-out infinite; /* Ajusta la duración de la animación según tus preferencias */
}

.iconh:hover {
  color: #ffeada;
}

.titlecards {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  width: 100%;
  height: auto;
}

.marginb {
  margin: 150px;
}

.myicons {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
}

.iconset {
  padding-right: 1px;
}

.iconset:hover {
  color: #ffc14577;
}

.iconset2 {
  padding-right: 10px;
}

.iconset2:hover {
  color: #ffc14577;
}

.iconset3:hover {
  color: #ffc14577;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Ajusta el valor para controlar la altura de la "flotación" */
  }
}

.me {
  flex: auto;
  justify-content: center;
  text-align: center;
}
